<!-- Dropdown Structure -->
<ul id="dropdown1" class="dropdown-content">
  <li><%= link_to "Edit Profile", edit_user_registration_path %></li>
  <li class="divider"></li>
  <li><%= link_to "Log Out", destroy_user_session_path, method: :delete %></li>
</ul>


<!-- Navbar -->
<nav>
  <div class="nav-wrapper">
    <a href="/" class="brand">Pudding Skin Singles</a>
    <% if current_user %>
	    <ul class="right hide-on-med-and-down">
	      <li><a href="#">Messages</a></li>
	      <!-- Dropdown Trigger -->
	      <li>
	      	<a class="dropdown-button" href="#" data-activates="dropdown1">
	      		<%= current_user.first_name %>  <%= current_user.last_name %>
	      	</a>
	      </li>
	    </ul>
    <% end %>
  </div>
</nav>